@media only screen and (min-width: 700px) and (orientation: landscape) {
	label{
    font-size: 2vh!important;
  }
  
	input{
    background-color: #202124;
    margin: 1vh !important;
    width: 40vh;
    text-align: center;
    font-size: 2vh !important;
    height: 6vh !important;
    border-radius: 25vh;
    border: none;
  }

  input:focus{
    border-radius: 3vh 3vh 0 0 !important;
  }
  
  .cadastrar{
	background-image: linear-gradient(to bottom right, #C40EFA, #0096C4);
	width: 30vh;
	margin: 0.5vh;
	border-radius: 20vh;
	border: none;
	color: white;
	font-size: 3vh;
	font-weight: 400;
	height: 6vh;
}

.back{
  background: transparent;
  width: 30vh;
  border-radius: 20vh;
  border: 3px solid white;
  color: white;
  font-size: 3vh;
  font-weight: 400;
  height: 6vh;
  margin-bottom:4vw;
}

.cabecalho{
    width: 100vh;
    padding: 3vh 8vh 0 8vh;
  }
  
  .logo{
    width: 15vh;
    height: 26vh;
    background: url(../images/logocomescrito.png) center center/15vh no-repeat;
    font-size: 0;
  }
  
  hr{
    background-color: #2f2f2f;
    width: 80vh;
  }
  
  form{
    width: 100%;
    background-color: inherit;
  }
  
}
@media only screen and (min-width: 700px) and (orientation: portrait) {
	label{
    font-size: 3vw;
	margin: 0vw;
  }

  hr{
    background-color: #6f6f6f;
    width: 80%;
  }
	
	 input{
    background-color: #202124;
    margin: 1vh !important;
    width: 60vw;
    text-align: center;
    font-size: 3vw !important;
    height: 8vw !important;
    border-radius: 25vh;
    border: none;
  }

  input:focus{
    border-radius: 3vh 3vh 0 0 !important;
  }
	
  .cabecalho{
	padding-top: 3vw;
    width: 100vw;
  }

  .logo{
    width: 15vh;
    height: 26vh;
    background: url(../images/logocomescrito.png) center center/15vh no-repeat;
    font-size: 0;
  }
  
  .cadastrar{
	background-image: linear-gradient(to bottom right, #C40EFA, #0096C4);
	width: 30vw;
	margin: 0.5vh;
	border-radius: 20vh;
	border: none;
	color: white;
	font-size: 3.4vw;
	font-weight: 400;
	height: 9vw;
}

.back{
  background: transparent;
  width: 30vw;
  border-radius: 20vh;
  border: 3px solid white;
  color: white;
  font-size: 3.4vw;
  font-weight: 400;
  height: 9vw;
}

}
@media screen and (max-width: 699px) {
	label{
    font-size: 5vw;
  }
  input{
    background-color: #202124;
    width: 55vw;
    text-align: center;
    font-size: 3.6vw !important;
    height: 10vw !important;
    border-radius: 25vw;
    border: none;
  }
  .cadastrar{
  	background-image: linear-gradient(to bottom right, #C40EFA, #0096C4);
  	width: 43vw;
  	border-radius: 20vh;
  	border: none;
  	color: white;
  	font-size: 3vw;
  	font-weight: 400;
  	height: 8vw;
  }
  .cabecalho{
	padding-top: 2vw;
    width: 100vw;
  }

  .logo{
    width: 20vh;
    height: 35vh;
    background: url(../images/logocomescrito.png) center center/20vh no-repeat;
  }

  hr{
    background-color: #2f2f2f;
    width: 80vw;
  }
  
  .back{
  background: transparent;
  width: 43vw;
  border-radius: 20vh;
  border: 3px solid white;
  color: white;
  font-size: 3vw;
  font-weight: 400;
  height: 8vw;
  margin-bottom: 5vw;
}

}
