
@media only screen and (min-width: 700px) and (orientation: landscape) {

  .lista{
    padding-left: 2vw;
  }

  .textos{
    background-color: black;
    top: 9vw;
    padding: 10vw;
    text-align: left;
    width: 100%;
    height: 100%;
  }

  .titulo{
    font-size: 2vw;
  }

  .titulo2{
    font-size: 1.5vw;
  }

  .texto{
    font-size: 1.5vw;
    opacity: 0.8;
  }

  .exit{
		color: #822828;
		text-decoration: none !important;
		font-size: 1.3vw;
	}

	.exit:hover{
		color: #912d2d;
	}

	.account{
		font-size: 1.3vw;
		color: white;
	}

	.account:hover{
		color: #808080;
	}

	.imageuser{
		margin-top: 2vw;
		padding-top: 7vh;
		background: url(../images/circle.png) center center/8vw no-repeat;
    width: 26vh;
    height: 18vh;
    vertical-align: middle;
    color: black;
		text-align: center;
		font-size: 2vw;
	}

  .criaricon{
		font-size: 0vw;
	}

	.cadastrarevent{
		background: transparent;
		width: 12vw !important;
		border-radius: 20vh;
		border: 0.5vh solid white;
		color: white;
		font-size: 1vw !important;
		font-weight: 400;
		height: 6vh !important;
		position: fixed;
		right: 10vw !important;
	}

  .iagon, .campan, .niccn, .willn, .renaton{
    font-size: 4vh;
    margin-bottom: 12vw;
  }

  .images{
    padding-top: 12vh;
    display: grid;
		grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh;
		grid-template-areas: "iago" "iagon" "campa" "campan" "nicc" "niccn" "renato" "renaton" "will" "willn";
  }

  .iago, .campa, .nicc, .will, .renato{
    background: url(../images/circle.png) center center/30vh no-repeat;
    width: 30vh;
    height: 30vh;
    vertical-align: middle;
    color: red;

  }

  .creators{
    padding-top: 12vh;
  }

  .desc1{
    background-color: green;
    -webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
    -ms-animation: fadein 7s;
    -o-animation: fadein 7s;
    animation: fadein 7s;
  }


  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }


  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .sobre{
    width: 100%;
    background: url(../images/peoples.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 25vh 5vh 0 5vh;
    vertical-align: middle;
  }

  .descricao{
    font-size: 5vh !important;
  }

  .sobrefoto{
    width: 100%;
    background: url(../images/backinst.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 25vh 5vh 0 5vh;
    vertical-align: middle;
  }

  .anycontent{
    background-color: #18191b !important;
  }

  #gridcont{
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-areas: "sobre" "sobrefoto" "anycontent";
  }

  .content{
    width: auto !important;
    margin: 0 0vh 0 10vh;
  }

  .bgindex{
    background-color: black;
  }

  .b1, .b2, .b3, .b4, .b5{
    font-size: 3vh;
  }

  .icons{
    position: fixed;
    left: 0.5vh;
    top: 10vh;
    font-size: 2vh;
    line-height: 10px;
    z-index: 6;
  }

  .icons i{
    margin: 2vh;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  .icons hr{
    width: 50%;
  }

  .icons i:hover{
    text-shadow: 0px 0px 1.5vh white;
    color: #c4c4c4;
  }

  li{
    font-size: 3vh;
    width: 100%;
    line-height: 10vh;
    height: 2vh;
  }

  input{
    background-color: #202124;
    border-radius: 25px;
    border: none;
  }

  .userbtn{
    right: 3vh;
    position: absolute !important;
    z-index: 6;
    top: 2.5vh;
  }

  .userbtn i{
    font-size: 5vh;
  }

  hr{
    background-color: #6f6f6f;
    width: 73%;
    border-top: 0.3vh solid #6f6f6f !important;
  }

  .labelchec{
    cursor: pointer;
    transition: box-shadow 1s;
  }

  .dropcheck{
    cursor: pointer;
  }

  .icons:focus ~ nav{
    left:0;
  }

  .dropdown{
		display: none;
		position: fixed !important;
		float: right;
		text-align: center;
		background-color: #222224;
		top: 9vh;
		right: 3vh;
		height: 50vh;
		width: 30vh;
		padding: 1vh 3vh 1vh 3vh;
		border-radius: 5vh 0 5vh 5vh;
		z-index: 9;
		box-shadow: 0 0 2vw #151517;
	}

  .labelchec:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  }

  .menubtn{
    position: absolute;
    left: 3vh;
    cursor: pointer;
    z-index: 6;
    top: 2.5vh;
  }

  .menubtn i{
    font-size: 4.8vh;
  }

  .menulist{
    display: grid;
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh;
    grid-template-areas: "b1" "b2" "b3" "b4" "b5";
    padding-top: 26%;
    padding-left: 28%;
  }

  #chec:checked ~ nav{
    left: 0;
  }

  #dropcheck:checked ~ .dropdown{
    display: block;
  }

  .icon{
    position: fixed;
    text-align: left;
    width: 5%;
    margin: 0;
  }

  nav{
    background-color: #111111;
    width: 45vh;
    height: 100vh;
    left: -35vh;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
    float: left;
    text-align: left;
    font-size: 20px;
    position: fixed;
    z-index: 5;
  }

  #grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 60vh, 20vh));
    grid-template-areas: "menudiv pesquisarbtn userdiv";
  }

  .logoeheader{
    width: 15vh;
    height: 5vh;
    position: absolute;
    left: 15vh;
    z-index: 7;
    top: 2.5vh;
    background: url(../images/logohorizontal.png) center center/15vh no-repeat;
    font-size: 0 !important;
    cursor: pointer;
  }

  .cabecalhoindex{
    width: 100%;
    height: 3vh !important;
    padding: 2vh 0 2vh 0;
    font-weight: bold;
    background-color: transparent;
    position: fixed;
    z-index: 7;
  }

  .pesquisarbtn{
    font-weight: 700 !important;
    letter-spacing: 2px;
    font-size: 15px;
    width: 100%;
    height: 100%;
  }

  .fas{
    color: white;
  }

  .userdiv{
    height: 100%;
  }

  .menudiv{
    height: 100%;
  }

}
@media only screen and (min-width: 700px) and (orientation: portrait) {

  .lista{
    padding-left: 2vw;
  }

  .textos{
    background-color: black;
    top: 9vw;
    padding: 15vw 5vw 25vw 15vw;
    text-align: left;
    width: 100%;
    height: 100%;
  }

  .textos hr{
    width: 100%;
  }

  .titulo{
    font-size: 5vw;
  }

  .titulo2{
    font-size: 4vw;
  }

  .texto{
    font-size: 4vw;
    opacity: 0.8;
  }

  .exit{
		color: #822828;
		text-decoration: none !important;
		font-size: 4vw;
	}

	.exit:hover{
		color: #912d2d;
	}

	.account{
		font-size: 3vh;
		color: white;
	}

	.account:hover{
		color: #808080;
	}

	.imageuser{
		margin-top: 2vw;
		padding-top: 6vh;
		background: url(../images/circle.png) center center/20vw no-repeat;
    width: 26vh;
    height: 18vh;
    vertical-align: middle;
    color: black;
		text-align: center;
		font-size: 7vw;
	}

  .criaricon{
    top: 3vh;
		font-size: 1.8vh;
		right: 15vw !important;
		position: fixed;
	}

	.cadastrarevent{
		font-size: 0;
		width: 0;
		height: 0;
		display: none;
	}

  .iagon, .campan, .niccn, .willn, .renaton{
    font-size: 3vh;

  }


  .images{
    padding-top: 12vh;
    display: grid;
		grid-template-rows: 20vh;
		grid-template-areas: "iago" "iagon" "campa" "campan" "nicc" "niccn" "will" "willn" "renato" "renaton";
  }

  .iago, .campa, .nicc, .will, .renato{
    background: url(../images/circle.png) center center/17vh no-repeat;
    width: 20vh;
    height: 20vh;
    vertical-align: middle;
    color: red;

  }

  .creators{
    padding-top: 12vh;
  }

  .desc1{
    background-color: green;
    -webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
    -ms-animation: fadein 7s;
    -o-animation: fadein 7s;
    animation: fadein 7s;
  }


  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }


  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .sobre{
    width: 100%;
    background: url(../images/peoples.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 25vh 5vh 0 10vh;
    vertical-align: middle;
  }

  .descricao{
    font-size: 5vh !important;
  }

  .sobrefoto{
    width: 100%;
    background: url(../images/backinst.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 25vh 5vh 0 10vh;
    vertical-align: middle;
  }

  .anycontent{
    background-color: #18191b !important;
    padding-left: 8vh;
  }

  #gridcont{
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-areas: "sobre" "sobrefoto" "anycontent";
  }

  .content{
    width: auto !important;
    margin: 0 0vh 0 0vh;
  }

  .bgindex{
    background-color: #202124;
  }

  .b1, .b2, .b3, .b4, .b5{
    font-size: 2.3vh;
  }

  .icons{
    position: fixed;
    left: 0vh;
    top: 10vh;
    font-size: 1.5vh;
    line-height: 10px;
    z-index: 6;
  }

  .icons i{
    margin: 1.5vh;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  .icons hr{
    width: 50%;
  }

  li{
    font-size: 3vh;
    width: 100%;
    line-height: 10vh;
    height: 2vh;
  }

  input{
    background-color: #202124;
    border-radius: 25px;
    border: none;
  }

  .userbtn{
    right: 3vh;
    position: absolute !important;
    z-index: 6;
    top: 3vh;
  }

  .userbtn i{
    font-size: 3.5vh;
  }

  hr{
    background-color: #6f6f6f;
    width: 73%;
    border-top: 0.3vh solid #6f6f6f !important;
  }

  .labelchec{
    cursor: pointer;
    transition: box-shadow 1s;
  }

  .dropcheck{
    cursor: pointer;
  }

  .dropdown{
    display: none;
    position: fixed !important;
    float: right;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    top: 9vh;
    right: 3vh;
    height: 50vh;
    width: 30vh;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 5vh 0 5vh 5vh;
    z-index: 9;
    font-size: 2vh;
  }

  .menubtn{
    position: absolute;
    left: 2vh;
    cursor: pointer;
    z-index: 6;
    top: 2.5vh;
  }

  .menubtn i{
    font-size: 3.5vh;
  }

  .menulist{
    display: grid;
    grid-template-rows: 5.9vh 5.9vh 5.9vh 5.9vh 5.9vh;
    grid-template-areas: "b1" "b2" "b3" "b4" "b5";
    padding-top: 38%;
    padding-left: 22%;
  }

  #chec:checked ~ nav{
    left: 0;
  }

  #dropcheck:checked ~ .dropdown{
    display: block;
  }

  .icon{
    position: fixed;
    text-align: left;
    width: 5%;
    margin: 0;
  }

  nav{
    background-color: rgba(0, 0, 0, 0.8);
    width: 30vh;
    height: 100vh;
    left: -23vh;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
    float: left;
    text-align: left;
    font-size: 20px;
    position: fixed;
    z-index: 5;
  }

  #grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 60vh, 20vh));
    grid-template-areas: "menudiv pesquisarbtn userdiv";
  }

  .logoeheader{
    width: 15vh;
    height: 5vh;
    position: absolute;
    left: 8vh;
    z-index: 7;
    top: 2vh;
    background: url(../images/logohorizontal.png) center center/15vh no-repeat;
    font-size: 0 !important;
    cursor: pointer;
  }

  .cabecalhoindex{
    width: 100%;
    height: 3vh !important;
    padding: 2vh 0 2vh 0;
    font-weight: bold;
    background-color: transparent;
    position: fixed;
    z-index: 7;
  }

  .pesquisarbtn{
    font-weight: 700 !important;
    letter-spacing: 2px;
    font-size: 15px;
    width: 100%;
    height: 100%;
  }

  .fas{
    color: white;
  }

  .userdiv{
    height: 100%;
  }

  .menudiv{
    height: 100%;
  }

}
@media screen and (max-width: 699px) {

  .lista{
    padding-left: 2vw;
  }

  .textos{
    background-color: black;
    top: 9vw;
    padding: 20vw 5vw 25vw 5vw;
    text-align: left;
    width: 100%;
    height: 100%;
  }

  .textos hr{
    width: 100%;
  }

  .titulo{
    font-size: 5vw;
  }

  .titulo2{
    font-size: 5vw;
  }

  .texto{
    font-size: 4vw;
    opacity: 0.8;
  }

  .exit{
		color: #822828;
		text-decoration: none !important;
		font-size: 4vw;
	}

	.exit:hover{
		color: #912d2d;
	}

	.account{
		font-size: 4vw;
		color: white;
	}

	.account:hover{
		color: #808080;
	}

	.imageuser{
		margin-top: 7vw;
		padding-top: 6vh;
		background: url(../images/circle.png) center center/20vw no-repeat;
    width: 15vh;
    height: 18vh;
    vertical-align: middle;
    color: black;
		text-align: center;
		font-size: 7vw;
	}

  .criaricon{
    margin-top: 1vh;
		font-size: 1.8vh;
		right: 20vw !important;
		position: fixed;
	}

	.cadastrarevent{
		font-size: 0;
		width: 0;
		height: 0;
		display: none;
	}

  .iagon, .campan, .niccn, .willn, .renaton{
    font-size: 4vw;

  }


  .images{
    padding-top: 12vh;
    display: grid;
		grid-template-rows: 20vh;
		grid-template-areas: "iago" "iagon" "campa" "campan" "nicc" "niccn" "will" "willn" "renato" "renaton";
  }

  .iago, .campa, .nicc, .will, .renato{
    background: url(../images/circle.png) center center/17vh no-repeat;
    width: 20vh;
    height: 20vh;
    font-size: 8vw;
    vertical-align: middle;
    color: red;

  }

  .creators{
    padding-top: 12vh;
    font-size: 5vw;
  }

  .desc1{
    background-color: green;
    -webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
    -ms-animation: fadein 7s;
    -o-animation: fadein 7s;
    animation: fadein 7s;
  }


  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }


  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .sobre{
    width: 100%;
    background: url(../images/peoples.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 25vh 5vh 0 5vh;
    vertical-align: middle;
  }

  .descricao{
    font-size: 5vh !important;
  }

  .sobrefoto{
    width: 100%;
    background: url(../images/backinst.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 25vh 5vh 0 5vh;
    vertical-align: middle;
  }

  .anycontent{
    background-color: #18191b !important;
    padding: 0 2vh 0 2vh;
  }

  #gridcont{
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-areas: "sobre" "sobrefoto" "anycontent";
  }

  .content{
    width: auto !important;
    margin: 0 0vh 0 0vh;
  }

  .bgindex{
    background-color: #202124;
  }

  .b1, .b2, .b3, .b4, .b5{
    font-size: 2.3vh;
    line-height: 250%;
    padding-left: 8vh;
  }
  .icons{
    position: absolute;
    left: 0vh;
    top: 10vh;
    font-size: 1.5vh;
    line-height: 10px;
    z-index: 7;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear 0.2s;
    transition: opacity 0.1s linear 0.2s;
  }

  .icons i{
    margin: 1.5vh;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  .icons hr{
    width: 50%;
  }

  li{
    font-size: 3vh;
    width: 100%;
    line-height: 10vh;
    height: 2vh;
  }

  input{
    background-color: #202124;
    border-radius: 25px;
    border: none;
  }

  .userbtn{
    right: 3vh;
    position: absolute !important;
    z-index: 6;
    top: 3vh;
  }

  .userbtn i{
    font-size: 3.5vh;
  }

  hr{
    background-color: #6f6f6f;
    width: 73%;
    border-top: 0.3vh solid #6f6f6f !important;
  }

  .labelchec{
    cursor: pointer;
    transition: box-shadow 1s;
  }

  .dropcheck{
    cursor: pointer;
  }

  .dropdown{
    display: none;
    position: fixed !important;
    float: right;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    font-size: 3vh;
    right: 0vh;
    height: 100vh;
    width: 20vh;
    padding: 7vh 3vh 1vh 3vh;
    border-radius: 5vh 0 0vh 5vh;
    z-index: 9;
  }

  .menubtn{
    position: absolute;
    left: 2vh;
    cursor: pointer;
    z-index: 7;
    top: 2.3vh;
  }

  .menubtn i{
    font-size: 3.5vh;
  }

  .menulist{
    display: grid;
    grid-template-rows: 5.9vh 5.9vh 5.9vh 5.9vh 5.9vh;
    grid-template-areas: "b1" "b2" "b3" "b4" "b5";
    padding-top: 35%;
  }

  #chec:checked ~ nav{
    left: 0;
  }

  #chec:checked ~ nav .backdiv{
    opacity: 0.9;
  }

  #chec:checked ~ .icons{
    opacity: 1;
  }

  #dropcheck:checked ~ .dropdown{
    display: block;
  }

  .icon{
    position: fixed;
    text-align: left;
    width: 5%;
    margin: 0;
  }

  .backdiv{
    position: absolute;
    float: left;
    top: 0;
    width: 100vw !important;
    margin: 0;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease 1s;
    -webkit-transition: opacity 0.3s ease 1s;
    z-index: -1;
  }

  nav{
    background-color: rgba(4,5,7, 0.98);
    width: 30vh;
    height: 100vh;
    left: -70vh;
    transition: left 1s ease;
    -webkit-transition: left 1s ease;
    float: left;
    text-align: left;
    font-size: 20px;
    position: fixed;
    z-index: 6;
  }

  #grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 60vh, 20vh));
    grid-template-areas: "menudiv pesquisarbtn userdiv";
  }

  .logoeheader{
    width: 15vh;
    height: 5vh;
    position: absolute;
    left: 8vh;
    z-index: 7;
    top: 2vh;
    background: url(../images/logohorizontal.png) center center/15vh no-repeat;
    font-size: 0 !important;
  }

  .cabecalhoindex{
    width: 100%;
    height: 3vh !important;
    padding: 2vh 0 2vh 0;
    font-weight: bold;
    background-color: transparent;
    position: fixed;
    z-index: 9;
  }

  .pesquisarbtn{
    font-weight: 700 !important;
    letter-spacing: 2px;
    font-size: 15px;
    width: 100%;
    height: 100%;
  }

  .fas{
    color: white;
  }

  .userdiv{
    height: 100%;
  }

  .menudiv{
    height: 100%;
  }
}
